:root {
    /* colors */
    --color-text : #fff;
    --color-primary: #576cbc;
    --color-secondary: #8296bb;
    --color-dark: #0b2447;
    --color-bg: #534343;

    /* fonts */
    --font-robot: "Roboto";
}